.navbar{
    display: flex;
    background-color: green;
    justify-content: space-between;
}
.hoo{
    color: white;



    
    
    

}
.list ul li{
    display: flex;
    list-style: none;
    gap: 30px;
    

    
}
.list a{
    text-decoration: none;
    color: white;
}
.main{
    display: flex;
    justify-content: space-between;
}
.p1{
    font-size: medium;
}
button{
    background-color: green;
    color: white;
    font-size: 4px;
    border: 3px solid white;
}
.main2{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 5px solid white;
    
}
.main2 h4{
    color: green;
}

